blinker==1.9.0
bokeh==3.4.3
brotlipy==0.7.0
certifi==2021.10.8
cffi==1.15.1
cryptography>=36.0.0
click==8.1.7
colorama==0.4.6
Flask==3.1.0
geopandas==1.0.1
matplotlib==3.9.2
pandas==2.2.3
plotly==5.24.1
requests==2.31.0
seaborn==0.13.2
shapely==2.0.6
